<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xbot Ofertas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='xbot.ico') }}" type="image/x-icon" />
  </head>
  <body>

  <nav class="navbar is-info">
    <div class="container">
    <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;">
            Xbot
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
    <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
            <a href="#" class="navbar-item is-active">Home</a>
            <a href="#" class="navbar-item">Ofertas</a>
            <a href="#" class="navbar-item">Bot</a>
            <a href="#" class="navbar-item">Precios</a>
            <a href="#" class="navbar-item">Ejemplos</a>
          </div>
    </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Ofertas de XBot
      </h1>
      <p class="subtitle">
        Listado de ofertas actuales interesantes
      </p>
    </div>
  </section>

  <br>
  <section>
    <div id="offers-section" class="columns is-multiline is-mobile is-centered">

    </div>

  </section>

  <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    <script>
        loadProducts()
    </script>

  </body>
</html>